.container {
    width: 90%;
    margin: 0 auto;
    @media (min-width: 1380px) {
        & {
            width: 1400px;
        }
    }

    @media (max-width: 576px) {
        & {
            width: 100%;
        }
    }
}

.text-center {
    text-align: center;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--light);
    display: grid;
    place-items: center;
}

.btn {
    padding: 13px 20px;
    border-radius: 9px;
    border: 1.5px solid var(--secondary);
    font-size: 16px;
    transition: all 200ms ease;
    font-weight: bold;
    &:hover {
        background: var(--primary);
        color: var(--light);
    }
}